body {
  margin: 0;
}

.div {
  width: 100%;
  height: 500px; 
  background-color: #000000;
  background-repeat: no-repeat; 
  background-size: cover;  
  background-position: center;  
  display: flex;
  align-items: center;          
  justify-content: center;      
}

.conteudo {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}