*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    margin: 0;
    min-height: 100vh;
    padding-top: 7vh;
    
}

.produtos-container {
    margin: 50px 50px;
    flex-wrap: wrap;  
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 0.2fr); /* 2 colunas */
    gap: 100px;
    justify-items: center; /* centraliza os cards */
}


.card{
    background: #fff;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    display: grid;
    
    
} 

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px 0;
}

.card h2{
    font-size: 1.2rem;
    margin: 10px 0;
}

.card p{
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.price{
    font-weight: bold;
    color: #2b04d8;
    margin: 5px 0;
}

.rating{
    color: #f39c12;
    font-weight: bold;
}

.btn-comprar{
    background: #080808;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s;
}

.btn-comprar:hover{
    background: #2b04d8;
}


main{
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: white;
    width: 100%;
}


header{
    display: flex;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background: #2b04d8;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;

}

footer{
    display: flex;
    width: 100%;
    height: 7vh;
    background: #2b04d8;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    bottom: 0; 
}

.icon{
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 20px;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}


.btn-carrinho{
    background: #080808;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s;
}

.btn-carrinho:hover{
    background: #2b04d8;
}

.botoes {
    display: flex;             
    justify-content: center; 
    margin-top: 20px;
    gap: 10px;                         
}
